# first list the packages you wish to download from PyPI
teachbooks
numpy
scipy
matplotlib
pandas
pylance
ipympl
plotly

git+https://github.com/TeachBooks/TeachBooks-Favourites
sphinx-apa-references
sphinx-tudelft-theme
