# first list the packages you wish to download from PyPI
teachbooks
jupyterbook-patches
download_link_replacer
jupyter-book
numpy
scipy
matplotlib
pandas
pylance
ipympl
plotly
# numpy

# docutils version for reference page formatting
docutils==0.17.1

sphinx-thebe ~= 0.9.9  #temporarily disable
